html, body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    color: #333;
    text-align: center;
    font-size: 2em;
}

.tarea{
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.tarea_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tarea input {
    margin-right: 10px;
}

.tarea_descripcion{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#formulario {
    margin-bottom: 20px;
}
#formulario input, #formulario textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    resize: none;
}
#formulario button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.fila {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.fila2{
    display: flex;
    justify-content: right;
    margin-bottom: 20px;
}



#innerButton{
    margin-right:15px;
    font-size: 12px;
    padding: 15px 10px;
}


p{
    margin: 0;
    margin-top: 6px;
}

#innerCheckbox{
    margin-left: 20px;
    margin-right: 10px;
}

/* Estilos para dispositivos móviles */
.columna {
    width: 100%;
    overflow-y: auto;
}

@media screen and (min-width: 480px) and (max-width: 1023px) and (orientation: portrait) {
    .container {
        width: 95%;
        max-width: 600px;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    }
    .columna {
        width: 90%;
        overflow-y: auto; /* Hace que el contenido sea scrolleable si excede la altura del contenedor */
    }
}

/* Estilos para ordenadores de escritorio */
@media screen and (min-width: 800px){
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 95%;
        height: 90%;
    }
    .columna {
        width: 45%;
        overflow-y: auto; /* Hace que el contenido sea scrolleable si excede la altura del contenedor */
    }
}

#editArea{
    width: 100%;
}